spawn-at-startup "noctalia"
// spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpapers/wallhaven-gpy9e7.png"

input {
    keyboard {
        xkb {
        }
    }
    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }
    trackpoint {
    }
    focus-follows-mouse
}
output "DP-2" {
    // off
    mode "2560x1440@180.000"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 4
    // center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    // default-column-width { proportion 0.5; }
    focus-ring {
        width 2
        active-color "#7aa2f7"
        inactive-color "#414868"
    }

    border {
        off
        width 4
        active-color "#e0af68"
        inactive-color "#414868"
        urgent-color "#f7768e"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

environment {
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "kde"
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 30
}

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// always floating
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^com.gabm.satty$"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

// never float
// window-rule {
//     match app-id="faugus-launcher"
//     open-floating false
// }

// half screen
window-rule {
    match app-id="Alacritty"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="localsend"
    match app-id="heroic"
    default-column-width {proportion 0.5;}
}

// open maximized
window-rule {
    match app-id="firefox"
    match app-id="zen"
    match app-id="steam"
    match app-id="dev.zed.Zed"
    match app-id="com.obsproject.Studio"
    match app-id="discord"
    match app-id="brave-browser"
    match app-id="com.github.th_ch.youtube_music"
    match app-id="ONLYOFFICE"
    open-maximized true
}

// full screen
window-rule {
    match app-id=r#"^steam_app_"#
    match app-id="steam_app_default"
    // match app-id="steam_app_0"
    open-fullscreen true
}

// blurrr
window-rule {
    match app-id="^Alacritty$"
    match app-id="^kitty$"
    background-effect {
    blur true
}
}


// Example:u: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    // geometry-corner-radius 16
    clip-to-geometry true
}

binds {
    Mod+Tab repeat=false { toggle-overview; }
    Mod+O repeat=true { toggle-overview; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Launchers
    Mod+E hotkey-overlay-title="Open Dolphin" { spawn "dolphin"; }
    Mod+T hotkey-overlay-title="Open Terminal: Alacritty" { spawn "alacritty"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: Kitty" { spawn "kitty"; }
    // Mod+Shift+T hotkey-overlay-title="Open Terminal: Ghostty" { spawn "ghostty"; }

    Mod+D hotkey-overlay-title="Application Launcher" {
        spawn-sh "noctalia msg panel-toggle launcher";
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn-sh "noctalia msg panel-toggle clipboard";
    }
    // Mod+M hotkey-overlay-title="Task Manager" {
    //     spawn-sh "noctalia msg panel-toggle control-center system";
    // }
    Mod+M hotkey-overlay-title="Task Manager" {
        spawn "resources";
    }
    Mod+Comma hotkey-overlay-title="Settings" {
        spawn-sh "noctalia msg settings-toggle";
    }
    Mod+Y hotkey-overlay-title="Browse Wallpapers" {
        spawn-sh "noctalia msg panel-toggle wallpaper";
    }
    Mod+N hotkey-overlay-title="Notification Center" {
        spawn-sh "noctalia msg panel-toggle control-center notifications";
    }
    Mod+Shift+N hotkey-overlay-title="Notes" {
        spawn-sh "noctalia msg panel-toggle noctalia/notes:panel";
    }


    // Power
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "noctalia msg session lock";
    }
    Menu hotkey-overlay-title="Power Menu" {
        spawn-sh "noctalia msg panel-toggle session";
    }
    Mod+P hotkey-overlay-title="Power Menu" {
        spawn-sh "noctalia msg panel-toggle session";
    }
    Mod+Shift+E { quit; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute { spawn-sh "noctalia msg mic-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

    // Window Management
    Mod+Q repeat=true { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+V { toggle-window-floating; }
    // Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    // Focus Navigation
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Window Movement
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Column Navigation
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Monitor Navigation
    Mod+Ctrl+Left  { focus-monitor-left; }
    //Mod+Ctrl+Down  { focus-monitor-down; }
    //Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    // Move to Monitor
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Workspace Navigation
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Down { move-column-to-workspace-down; }
    Mod+Ctrl+Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Move Workspaces
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Mouse Wheel Navigation
    Mod+WheelScrollDown      cooldown-ms=25 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=25 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Numbered Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move to Numbered Workspaces
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Column Management
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Period { expel-window-from-column; }

    // Sizing & Layout
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // Manual Sizing
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Screenshots
    Mod+Shift+S {spawn-sh "$HOME/.config/niri/scripts/screenshot-region.sh";}
    Scroll_Lock {spawn-sh "$HOME/.config/niri/scripts/screenshot-region.sh";}
    Mod+Shift+C {spawn-sh "$HOME/.config/niri/scripts/ocr.sh";}
    Pause {spawn-sh "$HOME/.config/niri/scripts/ocr.sh";}
    XF86Launch1 { screenshot; }
    Ctrl+XF86Launch1 { screenshot-screen; }
    Alt+XF86Launch1 { screenshot-window; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // System Controls
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+P { power-off-monitors; }

    // touchpad controls
    Mod+TouchpadScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+TouchpadScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Mod+TouchpadScrollRight cooldown-ms=50 { focus-column-right; }
    Mod+TouchpadScrollLeft cooldown-ms=50 { focus-column-left; }
}

overview {
    backdrop-color "#212121"
    zoom 0.25
}

include "noctalia.kdl"
